/*
 *= require_self
 *= require syntax
 */
// fix code scrolling out

@import url('http://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('http://fonts.googleapis.com/css?family=Roboto:400,700');
@import "font-awesome";

$base: #01002F;
$main: #F1EEE7;
$base-font: #023168;
$link: #53A9BF;

@media (min-width: 960px) {
  body{
    width: 960px;
    background-color: $base;
  }
}
body {
  font-family: 'Roboto', sans-serif;
  color: $base-font;
  margin: 0 auto;
}

#container{
  background-color: $main;
  color: $base-font;
  padding: 0 1em;
}

#header{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 3px;
  header {
    grid-column: 1 / span 6;
  }

  .social {
    grid-column: auto / -1;
    font-size: 4em;
    a {
      &:hover {
        color: lighten($link, 10%);
      }
    }
  }
}

aside {
  ul, ol {
    list-style-type: none;
    padding: 0;
    li {
      border-style: solid;
      border-width: 0 0 1px;
    }
  }

  section {
    background-color: darken($main, 5);
    margin-bottom: 10px;
  }
  h2 {
    border-style: double;
    border-width: 0 0 3px;
  }
}


a {
  &:link {
    color: $link;
    text-decoration: none;
    font-weight: bold;
  }
  &:visited {
    color: $base;
  }
  &:hover {
    text-decoration: underline;
  }
}
#header{
  a:hover {
    text-decoration: none;
  }
  .brand {
    font-size: 2em;
    font-family: 'Press Start 2P', cursive;
  }
}

.highlight {
  overflow: auto;
}

blockquote {
  background: white;
  padding: 10px 50px;
  font-family: 'Press Start 2P' cursive;
}
//
//body {
//  #container {
//    h1 {
//      &.article-title {
//        margin-top: 0;
//        padding-top: 0;
//        font-family: 'Press Start 2P' cursive;
//
//      }
//    }
//
//    a {
//      &:link {
//        color: $link;
//        text-decoration: none;
//        font-weight: bold;
//      }
//      &:visited {
//        color: $base;
//      }
//      &:hover {
//        text-decoration: underline;
//      }
//
//    }
//    aside {
//      ul, ol {
//        list-style-type: none;
//        padding: 0;
//        li {
//          border-style: solid;
//          border-width: 0 0 1px;
//        }
//      }
//
//      section {
//        background-color: darken($main, 5);
//        margin-bottom: 10px;
//      }
//      h2 {
//        border-style: double;
//        border-width: 0 0 3px;
//      }
//    }
//
//    h2 {
//    }
//    .article-date {
//      display: block;
//      font-weight: bold;
//      color: desaturate($base-font, 50);
//    }
//  }
//}
