/*



 */
@import url("http://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("http://fonts.googleapis.com/css?family=Roboto:400,700");
/* line 15, /Users/StevenNunez/Documents/hostiledeveloper.com/source/stylesheets/application.css.scss */
.highlight {
  overflow: auto; }

/* line 19, /Users/StevenNunez/Documents/hostiledeveloper.com/source/stylesheets/application.css.scss */
body {
  background-color: #01002f;
  margin: 0 auto; }
  /* line 23, /Users/StevenNunez/Documents/hostiledeveloper.com/source/stylesheets/application.css.scss */
  body #container {
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    padding-bottom: 2em;
    background-color: #f1eee7;
    color: #023168; }
    /* line 29, /Users/StevenNunez/Documents/hostiledeveloper.com/source/stylesheets/application.css.scss */
    body #container article {
      margin-bottom: 3em; }
    /* line 33, /Users/StevenNunez/Documents/hostiledeveloper.com/source/stylesheets/application.css.scss */
    body #container header {
      margin-bottom: 2em; }
      /* line 35, /Users/StevenNunez/Documents/hostiledeveloper.com/source/stylesheets/application.css.scss */
      body #container header a:hover {
        text-decoration: none; }
      /* line 38, /Users/StevenNunez/Documents/hostiledeveloper.com/source/stylesheets/application.css.scss */
      body #container header .brand {
        padding-top: 20px;
        margin-bottom: 0;
        font-size: 4em;
        font-family: 'Press Start 2P' cursive; }
      /* line 44, /Users/StevenNunez/Documents/hostiledeveloper.com/source/stylesheets/application.css.scss */
      body #container header .tag-line {
        padding: 0;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: .2em; }
      /* line 51, /Users/StevenNunez/Documents/hostiledeveloper.com/source/stylesheets/application.css.scss */
      body #container header h1, body #container header h3 {
        margin-top: 0;
        margin-bottom: .3em; }
    /* line 58, /Users/StevenNunez/Documents/hostiledeveloper.com/source/stylesheets/application.css.scss */
    body #container h1.article-title {
      margin-top: 0;
      padding-top: 0;
      font-family: 'Press Start 2P' cursive; }
    /* line 67, /Users/StevenNunez/Documents/hostiledeveloper.com/source/stylesheets/application.css.scss */
    body #container a:link {
      color: #53a9bf;
      text-decoration: none;
      font-weight: bold; }
    /* line 72, /Users/StevenNunez/Documents/hostiledeveloper.com/source/stylesheets/application.css.scss */
    body #container a:visited {
      color: #01002f; }
    /* line 75, /Users/StevenNunez/Documents/hostiledeveloper.com/source/stylesheets/application.css.scss */
    body #container a:hover {
      text-decoration: underline; }
    /* line 81, /Users/StevenNunez/Documents/hostiledeveloper.com/source/stylesheets/application.css.scss */
    body #container aside ul, body #container aside ol {
      list-style-type: none;
      padding: 0; }
      /* line 84, /Users/StevenNunez/Documents/hostiledeveloper.com/source/stylesheets/application.css.scss */
      body #container aside ul li, body #container aside ol li {
        border-style: solid;
        border-width: 0 0 1px; }
    /* line 90, /Users/StevenNunez/Documents/hostiledeveloper.com/source/stylesheets/application.css.scss */
    body #container aside section {
      background-color: #e8e3d7;
      padding: 5px 30px;
      margin-bottom: 10px; }
    /* line 95, /Users/StevenNunez/Documents/hostiledeveloper.com/source/stylesheets/application.css.scss */
    body #container aside h2 {
      border-style: double;
      border-width: 0 0 3px; }
    /* line 101, /Users/StevenNunez/Documents/hostiledeveloper.com/source/stylesheets/application.css.scss */
    body #container h2 {
      margin-top: 0;
      padding-top: 10px; }
    /* line 105, /Users/StevenNunez/Documents/hostiledeveloper.com/source/stylesheets/application.css.scss */
    body #container .article-date {
      display: block;
      font-weight: bold;
      color: #1c334e; }
/* line 3, /Users/StevenNunez/Documents/hostiledeveloper.com/source/stylesheets/susy_and_overrides.css.scss */
#container {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto; }
  /* line 38, /Users/StevenNunez/.gem/ruby/2.1.4/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  #container:after {
    content: "";
    display: table;
    clear: both; }
  /* line 5, /Users/StevenNunez/Documents/hostiledeveloper.com/source/stylesheets/susy_and_overrides.css.scss */
  #container aside {
    width: 23.72881%;
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline; }
  /* line 8, /Users/StevenNunez/Documents/hostiledeveloper.com/source/stylesheets/susy_and_overrides.css.scss */
  #container #main {
    width: 74.57627%;
    float: left;
    margin-right: 1.69492%;
    display: inline; }
.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight .cm {
  color: #999988;
  font-style: italic;
}
.highlight .cp {
  color: #999999;
  font-weight: bold;
}
.highlight .c1 {
  color: #999988;
  font-style: italic;
}
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
.highlight .c, .highlight .cd {
  color: #999988;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
.highlight .ge {
  color: #000000;
  font-style: italic;
}
.highlight .gr {
  color: #aa0000;
}
.highlight .gh {
  color: #999999;
}
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
.highlight .go {
  color: #888888;
}
.highlight .gp {
  color: #555555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaaaaa;
}
.highlight .gt {
  color: #aa0000;
}
.highlight .kc {
  color: #000000;
  font-weight: bold;
}
.highlight .kd {
  color: #000000;
  font-weight: bold;
}
.highlight .kn {
  color: #000000;
  font-weight: bold;
}
.highlight .kp {
  color: #000000;
  font-weight: bold;
}
.highlight .kr {
  color: #000000;
  font-weight: bold;
}
.highlight .kt {
  color: #445588;
  font-weight: bold;
}
.highlight .k, .highlight .kv {
  color: #000000;
  font-weight: bold;
}
.highlight .mf {
  color: #009999;
}
.highlight .mh {
  color: #009999;
}
.highlight .il {
  color: #009999;
}
.highlight .mi {
  color: #009999;
}
.highlight .mo {
  color: #009999;
}
.highlight .m, .highlight .mb, .highlight .mx {
  color: #009999;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .s {
  color: #d14;
}
.highlight .na {
  color: #008080;
}
.highlight .bp {
  color: #999999;
}
.highlight .nb {
  color: #0086B3;
}
.highlight .nc {
  color: #445588;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #990000;
  font-weight: bold;
}
.highlight .nf {
  color: #990000;
  font-weight: bold;
}
.highlight .nl {
  color: #990000;
  font-weight: bold;
}
.highlight .nn {
  color: #555555;
}
.highlight .nt {
  color: #000080;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .nv {
  color: #008080;
}
.highlight .ow {
  color: #000000;
  font-weight: bold;
}
.highlight .o {
  color: #000000;
  font-weight: bold;
}
.highlight .w {
  color: #bbbbbb;
}
.highlight {
  background-color: #f8f8f8;
}