<section id="header">
  <header>
    <% link_to '/' do %>
        <h1 class="brand"><span class="hostile">Hostile</span> Developer</h1>
        <h4 class="tag-line">I am Steven. Hear me Rant.</h4>
    <% end %>
  </header>

  <section class='social'>
    <% link_to "http://twitter.com/_StevenNunez/", target: "_blank" do %><i class="fa fa-twitter"></i><% end %>
    <% link_to "https://github.com/StevenNunez/", target: "_blank" do %><i class="fa fa-github"></i><% end %>
  </section>
</section>
